<app-header></app-header>

<div class="donations">
  <div class="container">

    <ul class="stepper">
      <li class="stepper_item stepper_item--active">
        <span class="stepper_item-circle"></span>
      </li>
      <li class="stepper_item">
        <span class="stepper_item-circle"></span>
      </li>
      <li class="stepper_item">
        <span class="stepper_item-circle"></span>
      </li>
    </ul>

    <h1 class="default-title">Escolha a ONG que deseja apoiar</h1>

    <ul class="donations_ongs">

      <li class="donations_ongs-item" *ngFor="let ong of dataService.getData('ongs');">
        <img src="{{ this.dataService.loadOngPicture(ong['recipient']['id'])}}"
             alt="{{ ong['name']}}"
             class="donations_ongs-image">
        <div class="donations_ongs-content">
          <p class="donations_ongs-name">{{ ong['name'] }}</p>
          <p class="donations_ongs-text">{{ ong['description'] }}</p>
          <ul class="donations_ongs-buttons">
            <!-- <li class="donations_ongs-button">
              <button class="button button_sm button_white" (click)="initLoginModal(ong)">Saiba mais</button>
            </li> -->
            <li class="donations_ongs-button">
              <button class="button button_brand" (click)="selectOng(ong)">Doar</button>
            </li>
          </ul>
        </div>
      </li>

    </ul>

  </div>
</div>

<app-footer></app-footer>
