:host{
  display: block;
  width: 100vw;
  height: 100vh;
}

.default-title {
  font: 40px 'Gotham Bold';
  color: $cor_brand;
  text-align: center;
  text-shadow: $shadow_text;

  &:after {
    content: '';
    background-color: $cor_brand;
    display: block;
    width: 35%;
    max-width: 150px;
    height: 7px;
    margin: 30px auto 70px;
  }
}

.hidden{
  opacity: 0;
  display: none;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.show {
  opacity: 1;
  display: block;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

#modal-container {
  background: #F8F8F8;
  width: 70%;
  max-height: 80vh;
  position:  fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .16);
  z-index: 100;
  border: 3px solid $cor_brand;
  
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  opacity: 1;

  border-radius:  42px;
  -webkit-border-radius:  42px;
  -moz-border-radius:  42px;
  -ms-border-radius:  42px;
  -o-border-radius:  42px;
}

#overlay {
  background-color: rgba(0, 0, 0, .7);
  width:  100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left:  0px;
  z-index:  99;
  opacity: 1;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  transition: opacity 1s linear;
  overflow: hidden;
}

.no-margin-right {
  margin-right: 0!important;
}