<app-header></app-header>

<div class="ongs">
  <div class="container">

    <h1 class="default-title">
      ONG's
    </h1>

    <div class="ongs_list">

      <div class="ongs_item " *ngFor="let ong of dataService.getData('ongs'); index as i">
        <img src="{{ this.dataService.loadOngPicture(ong['recipient']['id']) }}"
             alt="{{ ong['name'] }}"
             class="ongs_item-image" >
        <div class="ongs_item-content">
          <p class="ongs_item-name">{{ ong['name'] }}</p>
          <p class="ongs_item-text">{{ ong['description'] }}</p>
          <ul class="ongs_item-buttons">
            <!-- <li class="ongs_item-button">
              <button class="button button_sm button_white" (click)="initLoginModal(ong)">Saiba mais</button>
            </li> -->
            <li class="ongs_item-button">
              <button class="button button_brand" (click)="selectOng(ong)">Doar</button>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>
