<header class="header">
  <div class="container">

    <div class="header_logo">
      <img src="../../assets/images/logo.png" [routerLink]="'/'" class="header_logo-image" alt="Belter" title="Belter" />
      <span class="header_logo-text">Por um mundo melhor</span>
    </div>

    <nav class="header_nav">
      <ul class="header_nav-menu">
        <li class="header_nav-item">
          <a href="" class="header_nav-link">
            Sobre
          </a>
        </li>
        <li class="header_nav-item">
          <a href="" class="header_nav-link">
            Voluntários Digitais
          </a>
        </li>
        <li class="header_nav-item">
          <a href="" class="header_nav-link" [routerLink]="'/ong-list'">
            ONG's
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>