<header class="header">
  <div class="container">

    <div class="header_logo">
      <img src="../../assets/images/logo.png" [routerLink]="['/']" class="header_logo-image" alt="Belter" title="Belter" />
      <span class="header_logo-text">Adote uma ONG</span>
    </div>

    <div class="header_hamburger" (click)="toggleMenu()" [ngClass]="status ? 'header_hamburger--open' : ''">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav class="header_nav" [ngClass]="status ? 'header_nav--open' : ''">
      <ul class="header_nav-menu">
        <!-- <li class="header_nav-item">
          <a class="header_nav-link">
            Sobre
          </a>
        </li> -->
        <li class="header_nav-item">
          <a class="header_nav-link" [routerLink]="['/donation-ong']" routerLinkActive="active">
            Voluntários Digitais
          </a>
        </li>
        <li class="header_nav-item">
          <a class="header_nav-link" [routerLink]="['/ong-list']" routerLinkActive="active">
            ONG's
          </a>
        </li>
        <li class="header_nav-item">
          <a class="header_nav-link" [routerLink]="['/contact']" routerLinkActive="active">
            Contato
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>