<div id="overlay" *ngIf="isOpen"></div>
<div id="modal-container" *ngIf="isOpen">
  <div class="modal confirmation">
    <button class="modal_close" (click)="close()">
      <span class="fa-stack fa-2x">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-times fa-stack-1x"></i>
      </span>
    </button>

    <div class="modal_content">

      <p class="confirmation_title">Confirmação de valores e dados</p>

      <p class="confirmation_text">
        <strong class="confirmation_strong">ONG selecionada: </strong>
        <span class="confirmation_result">{{ this.dataService.getData('ong')['name']}}</span>
      </p>

      <p class="confirmation_text">
        <strong class="confirmation_strong">Valor da doação mensal: </strong>
        <span class="confirmation_result">R$ {{ (this.dataService.getData('donation')['value']) }} / mês</span>
      </p>

      <button class="button button_brand"
        (click)="submitDonationForm(); $event.preventDefault(); $event.stopPropagation()" appNoDblClick>CONFIRMAR
      </button>

    </div>

  </div>
</div>
