<app-header></app-header>

<div class="donations-value">
  <div class="container">

    <ul class="stepper">
      <li class="stepper_item stepper_item--active">
        <span class="stepper_item-circle"></span>
      </li>
      <li class="stepper_item stepper_item--active">
        <span class="stepper_item-circle"></span>
      </li>
      <li class="stepper_item">
        <span class="stepper_item-circle"></span>
      </li>
    </ul>

    <p class="donations-value_text">A sua contribuição para a
      ONG {{ dataService.getData('ong')['name'] }} é fundamental, pois necessitam de
      diversos recursos para conseguirem manter o excelente trabalho.</p>
    <p class="donations-value_text">Obrigado por fazer a diferença e ajudar o próximo.</p>

    <div class="donations-value_form">

      <h1 class="donations-value_form-title">Selecione o valor da sua doação mensal</h1>

      <div class="donations-value_form-item donations-value_form-item-left">

        <div [ngClass]="{'donations-value_values-item--is-select': true}"></div>

        <ul class="donations-value_values">
          <li class="donations-value_values-item"
              (click)="selectDonationValue({value:10})"
              [ngClass]="{'donations-value_values-item--is-select': dataService.getData('donation')['value'] == 10}">
            <span class="donations-value_values-value">10</span>
            <span class="donations-value_values-text">R$ 10,00</span>
          </li>
          <li class="donations-value_values-item"
              (click)="selectDonationValue({value:15})"
              [ngClass]="{'donations-value_values-item--is-select': dataService.getData('donation')['value'] == 15}">
            <span class="donations-value_values-value">15</span>
            <span class="donations-value_values-text">R$ 15,00</span>
          </li>

          <li class="donations-value_values-item"
              (click)="selectDonationValue({value:20})"
              [ngClass]="{'donations-value_values-item--is-select': dataService.getData('donation')['value'] == 20}">
            <span class="donations-value_values-value">20</span>
            <span class="donations-value_values-text">R$ 20,00</span>
          </li>
          <li class="donations-value_values-item"
              (click)="selectDonationValue({value:30})"
              [ngClass]="{'donations-value_values-item--is-select': dataService.getData('donation')['value'] == 30}">
            <span class="donations-value_values-value">30</span>
            <span class="donations-value_values-text">R$ 30,00</span>
          </li>
          <li class="donations-value_values-item"
              (click)="selectDonationValue({value:50})"
              [ngClass]="{'donations-value_values-item--is-select': dataService.getData('donation')['value'] == 50}">
            <span class="donations-value_values-value">50</span>
            <span class="donations-value_values-text">R$ 50,00</span>
          </li>
          <li class="donations-value_values-item"
              (click)="selectCustomDonationValue({value:0})"
              [ngClass]="{'donations-value_values-item--is-select': isCustomDonation()}">
            <span class="donations-value_values-value donations-value_values-value-other"></span>
            <span class="donations-value_values-text">Outro valor</span>
          </li>
        </ul>

        <div class="donations-value_final">
          <span class="donations-value_final-coin">R$</span>
          <input type="tel" class="donations-value_final-input"
                 id="custom-donation-input"
                 (input)="selectCustomDonationValue(element.value)" #element/>
          <span class="donations-value_final-text">/ mês</span>
        </div>

      </div>

      <form class="donations-value_form-item donations-value_form-item-right" [formGroup]="registerForm"
            (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="value" value="{{ this.dataService.getData('donation')['value'] }}">
        <div class="donations-value_form-group">
          <input type="tel" class="donations-value_form-input donations-value_form-input-cc"
                 placeholder="Número do Cartão"
                 formControlName="cardNumber"
                 autocomplete="cc-number" id="cc-number" ccNum
                 (input)="setDonationCardNumber({ cardNumber: cardNumber.value})" #cardNumber/>
          <div *ngIf="submitted && f.cardNumber.errors" class="invalid-feedback">
            <div *ngIf="f.cardNumber.errors.required">Necessário preencher</div>
          </div>
        </div>

        <div class="donations-value_form-group donations-value_form-group-half">
          <input type="tel" class="donations-value_form-input" placeholder="Validade" value=""
                 formControlName="expiration"
                 autocomplete="cc-exp" id="cc-exp" ccExp
                 (input)="setDonationExpiration({expiration: expiration.value})" #expiration/>
          <div *ngIf="submitted && f.expiration.errors" class="invalid-feedback">
            <div *ngIf="f.expiration.errors.required">Necessário preencher</div>
          </div>
        </div>
        <div class="donations-value_form-group donations-value_form-group-half no-margin-right">
          <input type="tel" class="donations-value_form-input donations-value_form-input-cvv" placeholder="CVV"
                 formControlName="cvv"
                 autocomplete="cc-cvc" id="cc-cvc" ccCvc
                 (input)="setDonationCVV({ cvv: cvv.value})" #cvv/>
          <div *ngIf="submitted && f.cvv.errors" class="invalid-feedback">
            <div *ngIf="f.cvv.errors.required">Necessário preencher</div>
          </div>
        </div>

        <div class="donations-value_form-group">
          <input type="text" class="donations-value_form-input" placeholder="Nome do titular"
                 formControlName="ownerName"
                 (input)="setDonationOwnerName({ ownerName: ownerName.value})" #ownerName/>
          <div *ngIf="submitted && f.ownerName.errors" class="invalid-feedback">
            <div *ngIf="f.ownerName.errors.required">Necessário preencher</div>
          </div>
        </div>

        <div class="donations-value_form-group">
          <input type="number" class="donations-value_form-input" placeholder="CPF"
                 formControlName="ownerCPF"
                 (input)="setDonationOwnerCPF({ ownerCPF: cpf.value}) " #cpf/>
          <div *ngIf="submitted && f.ownerCPF.errors" class="invalid-feedback">
            <div *ngIf="f.ownerCPF.errors.required">Necessário preencher</div>
          </div>
        </div>

        <button class="button button_brand" (click)="initLoginModal()">Prosseguirr</button>

      </form>

    </div>

  </div>
</div>

<app-footer></app-footer>
