<app-header></app-header>

<div class="congratulations">
  <div class="container">

    <h1 class="congratulations_title">Parabéns</h1>

    <p class="congratulations_text">Agora você é um voluntário digital do/da ($nome_da_ONG), pessoas como você ajudam a tornar o mundo um lugar melhor.</p>

    <p class="congratulations_text">Obrigado por fazer o bem.</p>

    <p class="congratulations_text">Aqui abaixo está o seu SELO de Voluntário Digital. Faça o download ou salve em sua galeria de fotos.</p>
    <p class="congratulations_text">QUE TAL COMPARTILHAR COM A GALERA?</p>

    <div class="congratulations_stamp">
      
    </div>

  </div>
</div>

<app-footer></app-footer>