<footer class="footer">
  <div class="container">

    <div class="footer_logo">
      <img src="../../assets/images/logo.png" alt="Belter" title="Belter" />
    </div>

    <nav class="footer_nav">
      <ul class="footer_nav-menu">
        <!-- <li class="footer_nav-item">
          <a href="" class="footer_nav-link">
            Login
          </a>
        </li> -->
        <li class="footer_nav-item">
          <a class="footer_nav-link" [routerLink]="['/donation-ong']">
            Cadastre-se
          </a>
        </li>
      </ul>
      <ul class="footer_nav-menu">
        <li class="footer_nav-item">
          <a class="footer_nav-link" [routerLink]="['/']">
            A Belter
          </a>
        </li>
        <li class="footer_nav-item">
          <a class="footer_nav-link" [routerLink]="['/donation-ong']">
            Voluntário Digital
          </a>
        </li>
        <li class="footer_nav-item">
          <a class="footer_nav-link" [routerLink]="['/ong-list']">
            ONG's
          </a>
        </li>
        <!-- <li class="footer_nav-item">
          <a href="" class="footer_nav-link">
            Blog do Belter
          </a>
        </li> -->
      </ul>
      <ul class="footer_nav-menu">
        <li class="footer_nav-item">
          <a class="footer_nav-link" [routerLink]="['/donation-ong']">
            Quero Doar
          </a>
        </li>
        <li class="footer_nav-item">
          <a class="footer_nav-link" [routerLink]="['/donation-ong']">
            Quero ser um Voluntário Digital
          </a>
        </li>
        <li class="footer_nav-item">
          <a href="" class="footer_nav-link">
            Termos e condições
          </a>
        </li>
        <li class="footer_nav-item">
          <a class="footer_nav-link" [routerLink]="['/contact']">
            Entre em contato
          </a>
        </li>
        <!-- <li class="footer_nav-item">
          <a class="footer_nav-link" [routerLink]="['/contact']">
            Sugestões
          </a>
        </li> -->
      </ul>
    </nav>

    <div class="footer_copy-social">

      <div class="footer_copyright">
        <p class="footer_copyright-text">
          <a href="" class="footer_copyright-link">Termos de Uso e Privacidade</a>
        </p>
        <p class="footer_copyright-text">
          2019 - Belter
        </p>
      </div>

      <div class="footer_social">
        <p class="footer_social-text">Acompanhe a Belter nas Redes Sociais</p>
        <ul class="footer_social-list">
          <li class="footer_social-item">
            <a href="https://www.instagram.com/belter_oficial/" target="_blank" class="footer_social-link" rel="noopener noreferrer">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="footer_social-item">
            <a href="https://www.facebook.com/Belteroficial" target="_blank" class="footer_social-link" rel="noopener noreferrer">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="footer_social-item">
            <a href="https://www.linkedin.com/company/belteradoteumaong/about/" target="_blank" class="footer_social-link" rel="noopener noreferrer">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <!-- <li class="footer_social-item">
            <a href="" class="footer_social-link">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="footer_social-item">
            <a href="" class="footer_social-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li> -->
        </ul>
      </div>

    </div>

  </div>
</footer>